asgiref==3.8.1
bcrypt==4.3.0
cffi==1.17.1
cryptography==44.0.2
Django==5.0.1
django-bootstrap5==25.1
django-ratelimit==4.1.0
dotenv==0.9.9
gunicorn==21.2.0
itsdangerous==2.2.0
packaging==24.2
pycparser==2.22
PyMySQL==1.1.1
python-dotenv==1.1.0
sqlparse==0.5.3
typing_extensions==4.12.2
whitenoise==6.9.0
