{% extends 'main.html' %}
{% block title %}Aidcare | Admin Dashboard{% endblock %}
{% block nav %}
    {% if 'user_id' in request.session %}
        <li class="nav-item"><a class="nav-link fw-bold" href="/admin_dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'insert_user' %}">Insert Users</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'view_user' %}">View Users</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'contact_query' %}">View Contact</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/logout">Logout</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link fw-bold" href="/register">Register</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/about">About</a></li> 
        <li class="nav-item"><a class="nav-link fw-bold" href="/contact">Contact</a></li>
    {% endif %}
{% endblock %}
{% block content %}
<div class="container mt-3">
    <h1 class="text-center mb-4">Admin Panel - Users Table</h1>
    
    <div class="table-responsive">
        <form method="GET">
            {% csrf_token %}
            <table class="table table-bordered table-striped">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>District</th>
                        <th>User Type</th>
                        <th>Mobile Number</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.1 }}</td>
                        <td><a href="mailto:{{user.2}}" style="text-decoration: none;">{{ user.2 }}</a></td>
                        <td>{{ user.3 }}</td>
                        <td>{{ user.4 }}</td>
                        <td><a href="tel:{{user.5}}" style="text-decoration: none;">{{ user.5 }}</a></td>
                        <td class="text-center">
                            <form method="POST">
                                {% csrf_token %}
                                <a href="{% url 'update_user' user.0 %}" class="btn btn-primary btn-sm mb-1">Update User</a><br>
                                <a href="{% url 'delete_user' user.0 %}" class="btn btn-danger btn-sm">Delete User</a>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No Users Found.</td>
                    </tr>                
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock %}