{% extends 'main.html' %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="card shadow-lg p-4" style="width: 350px;">
        <h2 class="text-center mb-1">Login</h2><hr>
        {% if error %}
            <p class="text-danger text-center">{{ error }}</p>
        {% endif %}
        <form method="POST" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Enter Your Username" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter Your Password" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>

            <!--<div class="text-center mt-3">
                <a href="#" class="text-decoration-none">Forgot password?</a>
            </div>-->
        </form>
        <p class="text-center mt-3">Don't have an account? <a href="{% url 'register' %}" class="text-primary text-decoration-none">Register here.</a></p>
    </div>
</div>
{% endblock %}
