{% extends 'main.html' %}
{% block content%}
<div class="about-section container">
    <h2>About Our Platform</h2>
    <h3>Virtual Donation Board is a platform designed to facilitate the donation of items directly to those in need. Whether it's old books, clothes, or toys, your contributions can make a significant difference.</h3>
    <h3>Join hands with us to support trusts and orphanages within your community. Track your inventory, browse donation requests, and make a difference at your convenience.</h3>
</div>
<style>
    .about-section {
            padding: 20px;
            background-color: #fff;
            text-align: center;
        }

        .about-section h2 {
            font-size: 2em;
            color: #4CAF50;
        }

        .about-section p {
            font-size: 1.1em;
            color: #666;
            margin: 20px 0;
        }
</style>
{% endblock content%}