{% extends 'main.html' %}
{% load static %}
{% block nav %}
    {% if 'user_id' in request.session %}
        <li class="nav-item"><a class="nav-link fw-bold" href="/donor_dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'add_item' %}">Add Item</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'inventory' %}">View Inventory</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/logout">Logout</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link fw-bold" href="/register">Register</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/about">About</a></li> 
        <li class="nav-item"><a class="nav-link fw-bold" href="/contact">Contact</a></li>
    {% endif %}
{% endblock %}

{% block content %}

<h1>Add Item</h1>
<form method="POST" id="itemForm" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for tag, error in errors.items %}
                    <li>{{ tag }}: {{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <label for="name">Item Name:</label>
    <input type="text" id="name" name="name" required><br>
    <span id="usernameError" class="text-danger"></span><br>
    
    <label for="description">Item Description:</label>
    <textarea id="description" name="description" required></textarea><br>
    <span id="descriptionError" class="text-danger"></span><br>

    <label for="product">Upload Image:</label>
    <input type="file" name="product" id="product" required><br>
    <span id="productError" class="text-danger"></span><br>

    <button type="submit" class="btn btn-primary">Add Item</button>
</form><br>
<script src="{% static 'js/itemValidate.js' %}"></script>
{% endblock %}
