{% extends 'main.html' %}
{% block nav %}
    {% if 'user_id' in request.session %}
        <li><a href="/donor_dashboard">Dashboard</a></li>
        <li><a href="{% url 'add_item' %}">Add Item</a><br></li>
        <li><a href="{% url 'inventory' %}">View Inventory</a><br></li>
        <li><a href="/logout">Logout</a></li>
    {% else %}
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/about">About</a></li> 
        <li><a href="/contact">Contact</a></li>
    {% endif %}
{% endblock %}
{% block content %}

<h1>Add Item</h1>
<form method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">Item Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    
    <label for="description">Item Description:</label>
    <textarea id="description" name="description" required></textarea><br><br>

    <label for="product">Upload Image:</label>
    <input type="file" name="product" id="product" required><br><br>

    <button type="submit" class="btn btn-primary">Add Item</button>
</form>
<br>
{% endblock %}
