{% extends 'main.html' %}
{% block title %}Aidcare | Admin Dashboard{% endblock %}
{% block nav %}
    {% if 'user_id' in request.session %}
        <li class="nav-item"><a class="nav-link fw-bold" href="/admin_dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="">Dummy</a><br></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="">Dummy</a><br></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/logout">Logout</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link fw-bold" href="/register">Register</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/about">About</a></li> 
        <li class="nav-item"><a class="nav-link fw-bold" href="/contact">Contact</a></li>
    {% endif %}
{% endblock %}
{% block content %}
<form method="PUT">
{% csrf_token %}
<h1>Admin Panel - Approve Orphanage Users</h1>
<table border="1" aria-label="Pending Users for Approval">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>District</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in pending_users %}
        <tr>
            <td>{{ user.1 }}</td>
            <td><a href="mailto:{{user.2}}">{{ user.2 }}</a></td>
            <td><a href="tel:{{user.3}}">{{ user.3 }}</a></td>
            <td>{{ user.4 }}</td>
            <td>
                <a href="{% url 'approve_user' user.0 %}"><button class="btn-success">Approve</button></a>
                <a href=""><button class="btn-danger">Reject</button></a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No pending approvals.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>
{% endblock %}