{% extends 'main.html' %}
{% block title %}Aidcare | Donor Dashboard{% endblock %}
{% block nav %}
    {% if 'user_id' in request.session %}
        <li class="nav-item"><a class="nav-link fw-bold" href="/donor_dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'add_item' %}">Add Item</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'inventory' %}">View Inventory</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/logout">Logout</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link fw-bold" href="/register">Register</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/about">About</a></li> 
        <li class="nav-item"><a class="nav-link fw-bold" href="/contact">Contact</a></li>
    {% endif %}
{% endblock %}
{% block content %}

<h1>Welcome Donor!</h1>
<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    {% for post in posts %}
        <div style="border: 2px solid #ccc; padding: 20px; width: 300px;">
            <h3>{{ post.1 }}</h3>
            <p>{{ post.2 }}</p>
            <img src="{{ post.3 }}" alt="Post Image" style="width: 100%; height: 200px; object-fit: cover;">
            <p><strong>Posted by:</strong> {{ post.5 }}</p>
            <a href="{%url 'donate' post.0 post.4 %}"><button style="margin-top: 10px;" class="btn btn-primary">Donate</button></a>
        </div>
    {% endfor %}
</div>
{% endblock %}
