{% extends 'main.html' %}
{% block title %}Aidcare | Donor Dashboard{% endblock %}
{% block content %}

<h1>Welcome Donor!</h1>
<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    {% for post in posts %}
        <div style="border: 2px solid #ccc; padding: 20px; width: 300px;">
            <h3>{{ post.1 }}</h3>
            <p>{{ post.2 }}</p>
            <img src="{{ post.3 }}" alt="Post Image" style="width: 100%; height: 200px; object-fit: cover;">
            <p><strong>Posted by:</strong> {{ post.1 }}</p>
            <a href=""><button style="margin-top: 10px;" class="btn btn-primary">Donate</button></a>
        </div>
    {% endfor %}
</div>
<a href="{% url 'add_item' %}">Add New Item</a><br>
<a href="{% url 'inventory' %}">View Your Inventory</a><br>
<a href="{% url 'logout' %}">Logout</a>
{% endblock %}
