{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>{% block title %}Aidcare{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}"></link>
</head>
<body>
    <header>
        <h1>Virtual Donation Board</h1>
        <!--<p>Connecting Donors and Trusts/Orphanages Within the Same District</p>-->
    </header>
    <nav class="navbar navbar-inverse" style="height: 50px;">
        <div class="container-fluid" style="height: 50px;">
            <ul class="nav navbar-nav">
                <li><a href="/" >Home</a></li>      
                {% block nav %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/about">About</a></li> 
                <li><a href="/contact">Contact</a></li>
                {% endblock %}
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Virtual Donation Board | <a href="/privacy">Privacy Policy</a></p>
    </footer>
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>