{% extends 'main.html' %}
{% block title %}Aidcare | Trust Dashboard{% endblock %}
{% block nav %}
    {% if 'user_id' in request.session %}
        <li class="nav-item"><a class="nav-link fw-bold" href="/trust_dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'create_post' %}">New Post</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'view_donated' %}">Donated Items</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="{% url 'view_request' %}">Post Response</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/logout">Logout</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link fw-bold" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/register">Register</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link fw-bold" href="/about">About</a></li> 
        <li class="nav-item"><a class="nav-link fw-bold" href="/contact">Contact</a></li>
    {% endif %}
{% endblock %}
{% block content %}

<h2 class="text-center mt-3 mb-4">Available Items for Request</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for post in posts %}
        <div class="col">
            <div class="card shadow-sm h-100">
                <img src="{{ post.3 }}" class="card-img-top" alt="Post Image" 
                     style="width: 100%; height: 250px; object-fit: cover;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ post.1 }}</h5>
                    <p class="card-text flex-grow-1">{{ post.2 }}</p>
                    <a href="{% url 'delete_post' post.0 %}" class="btn btn-danger mt-auto">Delete Post</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
